extends layout

block content
  h1= title
  p Welcome to #{title}
  script#rowTemplate(type='text/template').
    <tr>
      <td data-bind='text: name'></td>
      <td data-bind='text: quantity'></td>
      <td> #: kendo.toString(get('price'),'C') #</td>
      <td><button class='btn btn-sm btn-danger' data-bind='click: removeProduct'>Delete</button></td>      
    </tr>
  script#footerTemplate(type='text/template').
    <tr>
      <th>Products count: #: total() #</td>
      <th>Total price: #: kendo.toString(totalPrice(),'C') #</td>
      <th colspan="2">Units in stock: #: totalUnits() #</td>
    </tr>
  .myView.form-horizontal
    .form-group
      label.control-label.col-md-2 Product
      .col-md-5
        input(type='text',data-bind='value: productName').form-control
    .form-group
      label.control-label.col-md-2 Quantity
      .col-md-5
        input(type='text',data-bind='value: productName').form-control
    .form-group
      label.control-label.col-md-2 Price
      .col-md-5
        input(type='text',data-bind='value: productName').form-control 
    .form-group
      .col-md-5.col-md-offset-2
        button(data-bind='click: addProduct').btn.btn-primary Add a new product               
    table.table.table-striped
      thead
        tr
          th Product
          th Quantity
          th Price
          th Delete
      tbody(data-template='rowTemplate',data-bind='source: products')
      tfoot(data-template='footerTemplate',data-bind='source: this')
